@charset "UTF-8";
@font-face {
	font-family: 'NANUMSQUARER';
	src: url(../../common_css/font/NANUMSQUARER.ttf);
}
body{
	font-family: 'NANUMSQUARER';
	font-weight: bold;
}
.order_info, .menu_info, .request_info{
	width: 100%;
	height: 100%;
	border:1px solid black;
	padding:3%;
}
p{
	font-size:13pt;
}
/*배달 정보 테이블 스타일*/
.order_info table, .menu_info table, .request_info table{
	border:1px black solid;
	width: 95%;
}
.order_info .td1{
	background-color: #d8d8d8;
	width: 100px;
}
.order_info .tr1{
	border-bottom: 1px solid black;
}

.order_info td{
	border-bottom:1px #d8d8d8 solid;
	padding:5px;
}

/*메뉴 정보 테이블 스타일*/
.menu_info .td1{
	background-color: #d8d8d8;
}

.menu_info td{
	border-bottom:1px #d8d8d8 solid;
	padding:5px;
}
.menu_info .td3{
	color: red;
}
/*요청사항 테이블 스타일*/
.request_info td{
	padding:5px;
}
.request_info .td1{
	background-color: #d8d8d8;
}

/*wait 버튼스타일*/
.wait_btn{
	text-align: center;	
}
.wait_btn button{
	padding: 17px;
	font-family: 'NANUMSQUARER';
	font-size: 15pt;
	font-weight: bold;
	border: none;
}
.wait_btn button:hover{
	cursor: pointer;
}
.wait_btn #order_ok_btn{
	background-color: #2ac1bc;
	color: white;
	width: 45%;
	margin-right: 20px;
}
.wait_btn #order_cancel_btn{
	background-color:gray;
	color: white;
	width: 30%;
}
/*ing 버튼스타일*/
.ing_btn{
	text-align: center;	
}
.ing_btn button{
	padding: 17px;
	font-family: 'NANUMSQUARER';
	font-size: 15pt;
	font-weight: bold;
	border: none;
}
.ing_btn button:hover{
	cursor: pointer;
}
.ing_btn #delivery_ok_btn{
	background-color: #2ac1bc;
	color: white;
	width: 45%;
	margin-right: 20px;
}
.ing_btn #order_cancel_btn{
	background-color:gray;
	color: white;
	width: 30%;
}










